.root {
  background-color: #000;
}

/*
* {
  border: 1px solid white;
}
*/

.page {
  font-family: 'Inter', 'Arial', sans-serif;
  max-width: 1280px;
  background-color: #000;
  margin: 0 auto;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.header {
  max-width: 880px;
  margin: 45px auto 40px;
}

.header__logo {
  max-width: 142px;
  min-height: 33px;
  margin-bottom: 41px;
  display: block;
}

.header__line {
  border-bottom: 1px #545454 solid;
  max-width: 880px;
}

.profile {
  max-width: 880px;
  margin: 0 auto 47.25px;
  display: flex;
  flex-direction: row;
}

.profile__avatar {
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
  display: block;
}

.profile__container {
  display: flex;
  margin-left: 30px;
  column-gap: 286px;
}

.profile__info {
  color: white;
  margin: 22px auto 25px 0;
  position: relative;
}

.profile__title {
  margin: 0;
  padding-bottom: 8px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.1;
}

.profile__subtitle {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.profile__edit-button {
  background-image: url(../../images/Edit-Button.svg);
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 14px;
  left: 312px;
}

.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

.profile__add-button {
  background-image: url(../../images/Add-Button.svg);
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-self: center;
}

.profile__add-button:hover {
  opacity: .6;
  cursor: pointer;
}

.elements {
  max-width: 880px;
  min-height: 744px;
  padding: 0;
  margin: 0 auto;
}

.element {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 361px);
  gap: 20px 17px;
}

.element__item {
  max-width: 282px;
  min-height: 361px;
  background-color: white;
  border-radius: 10px;
}

.element__image {
  max-width: 282px;
  min-height: 282px;
  border-radius: 10px 10px 0 0;
  display: block;
  object-fit: cover;
}

.element__mask-group {
  max-width: 246px;
  min-height: 23px;
  margin: 0;
  padding: 25px 20px 25px 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
}

.element__heart-button {
  background-image: url(../../images/Heart.svg);
  background-repeat: no-repeat;
  outline: none;
  border: none;
  width: 22px;
  height: 19px;
  background-color: rgba(0, 0, 0, 0);
}

.element__heart-button:hover {
  opacity: .5;
  cursor: pointer;
}

.footer {
  max-width: 318px;
  margin: 67px auto 60px 200px;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  color: #545454;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
}

.popup {
  margin: 0 auto;
  max-width: 1280px;
  min-height: 720px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__opened {
  display: none;
}

.popup__close-icon {
  background-image: url(../../images/Close-Icon.svg);
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  top: 155px;
  right: 385px;
}

.popup__close-icon:hover {
  opacity: .6;
  cursor: pointer;
}

.popup__heading {
  margin: 0;
  margin-top: 34px;
  margin-bottom: 48px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
}

.popup__form {
  background-color: white;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 48px;

}

.popup__input {
  margin: 0;
  padding: 0;
  border: none;
  width: 358px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-bottom: 7px;
  color: black;
}

.popup__input::-webkit-input-placeholder {
  color: #000;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.popup__input::-moz-placeholder {
  color: #000;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.popup__input::-ms-input-placeholder {
  color: #000;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}


.popup__submit-button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: black;
  color: white;
  max-width: 358px;
  min-height: 50px;
  border-radius: 2px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
}

.popup__submit-button:hover {
  opacity: .8;
  cursor: pointer;
}

.popup__container {
  box-sizing: border-box;
  background-color: white;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 36px;
  position: relative;
}

