.header__line {
  border-bottom: 1px #545454 solid;
  max-width: 880px;
}

@media screen and (max-width: 930px) {
  .header__line {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .header__line {
    max-width: 320px;
  }
}
