.element__heart-button {
  background-image: url(../../../images/Heart.svg);
  background-repeat: no-repeat;
  outline: none;
  border: none;
  width: 22px;
  height: 19px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0 11px;
}

.element__heart-button:hover {
  opacity: .5;
  cursor: pointer;
}
