.profile__title {
  margin: 0;
  padding-bottom: 8px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.1;
}

@media screen and (max-width: 624px) {
  .profile__title {
    font-size: 30px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 430px) {
  .profile__title {
    font-size: 27px;
  }
}

@media screen and (max-width: 320px) {
  .profile__title {
    padding-bottom: 10px;
  }
}
