.popup__close-icon {
  background-image: url(../../../images/Close-Icon.svg);
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  top: 155px;
  right: 385px;
}

.popup__close-icon:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .popup__close-icon {
    background-image: url(../../../images/Close-Icon_for_320.svg);
    width: 20px;
    height: 20px;
    top: 87px;
    right: 19px;
  }
}
