.profile__avatar {
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
  display: block;
}

@media screen and (max-width: 800px) {
  .profile__avatar {
    display: flex;
    align-self: center;
    margin-bottom: 3px;
  }
}
