.popup-image__close-icon {
  background-image: url(../../../images/Close-Icon.svg);
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 430px) {
  .popup-image__close-icon {
    background-image: url(../../../images/Close-Icon_for_320.svg);
    width: 20px;
    height: 20px;
    top: -30px;
    right: 0;
  }
}

.popup-image__close-icon:hover {
  opacity: .6;
  cursor: pointer;
}
